In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, KFold, train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, make_scorer
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv('winequality-red.csv')

display(df)

df.info()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [33]:
#label Encoder >  pré-processamento utilizada para converter variáveis categóricas em valores numéricos. 

# Identificando colunas categóricas
#colunas_categoricas = df.select_dtypes(include=['object']).columns

# Aplicando Label Encoding
#le = LabelEncoder()

#for coluna in colunas_categoricas:
#    df[coluna] = le.fit_transform(df[coluna].astype(str))

# Exibindo as 5 primeiras linhas para verificação
#display(df.head())

#df.info()

In [34]:
# 1. Carregamento dos Dados
X = df.drop(columns=['density'])  
y = df['density']

# 2. Dividir dados para avaliação final
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,shuffle=True,random_state=42)

# === NORMALIZAÇÃO DOS DADOS ===
scaler = StandardScaler()
x_treino = pd.DataFrame(scaler.fit_transform(X_train), columns=X.columns)
x_teste = pd.DataFrame(scaler.transform(X_test), columns=X.columns)

scaler_y = StandardScaler()
y_treino = scaler_y.fit_transform(y_train.values.reshape(-1, 1))
y_teste = scaler_y.transform(y_test.values.reshape(-1, 1))


display(x_treino)
display(y_treino)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH,sulphates,alcohol,quality
0,0.218332,0.889712,0.192092,0.309726,-0.049642,0.691007,1.042934,1.093500,0.458223,1.123177,0.466251
1,-1.290166,-1.788783,0.652753,-0.805080,-0.455214,2.388473,3.593870,-0.400439,-0.401197,1.408272,0.466251
2,1.494753,-0.784347,1.011045,-0.526378,0.599272,-0.957960,-0.991742,-0.075669,0.515517,-0.587390,0.466251
3,0.276351,0.861811,-0.063831,-0.665729,-0.009085,0.012020,-0.718427,0.054238,-1.088733,-0.967516,-0.773531
4,0.044274,2.814880,-0.626861,2.399985,-0.313264,-0.472970,0.222990,0.379008,-0.974144,-0.492358,-0.773531
...,...,...,...,...,...,...,...,...,...,...,...
1274,0.450408,0.387494,-1.394630,-0.456703,-0.617442,-1.054958,-1.113215,-0.855116,-0.172018,-0.017201,0.466251
1275,-0.071764,0.582801,-0.882784,-0.317352,-0.313264,0.885003,0.405199,-0.140623,0.515517,0.457957,0.466251
1276,-0.651956,0.499098,-1.087522,0.100700,-0.232149,-0.084978,1.164407,1.288361,-0.687670,-0.872484,-0.773531
1277,-0.245822,-1.844584,0.396831,-0.596054,-0.698557,-0.860962,-0.961374,0.054238,0.801991,1.408272,1.706034
1278,-1.464224,-1.342367,-0.063831,-0.596054,-0.516049,-1.248954,-1.082847,0.508915,-0.687670,2.928776,0.466251

array([[ 1.84669643],
       [-3.00449133],
       [ 0.76865471],
       ...,
       [ 0.36977927],
       [-1.18260081],
       [-2.84278507]], shape=(1279, 1))

In [35]:
from sklearn.metrics import mean_absolute_error, r2_score, make_scorer
from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model import LinearRegression
import numpy as np

# 3. Criar o modelo
modelo = LinearRegression()

# 4. Validação cruzada (KFold com seed)
kfold = KFold(n_splits=10, shuffle=True, random_state=42)

# Scorers
mse_scorer = make_scorer(mean_squared_error, greater_is_better=False)
mae_scorer = make_scorer(mean_absolute_error, greater_is_better=False)
r2_scorer = make_scorer(r2_score)

# Avaliar com cross_val_score para diferentes métricas
mse_scores = cross_val_score(modelo, x_treino, y_treino, cv=kfold, scoring=mse_scorer)
mae_scores = cross_val_score(modelo, x_treino, y_treino, cv=kfold, scoring=mae_scorer)
r2_scores = cross_val_score(modelo, x_treino, y_treino, cv=kfold, scoring=r2_scorer)

# 5. Resultados da validação cruzada
print("MSE por fold:", -mse_scores)
print("MSE médio:", -np.mean(mse_scores))
print()

print("MAE por fold:", -mae_scores)
print("MAE médio:", -np.mean(mae_scores))
print()

print("R² por fold:", r2_scores)
print("R² médio:", np.mean(r2_scores))
print()

rmse_scores = np.sqrt(-mse_scores)
print("RMSE por fold:", rmse_scores)
print("RMSE médio:", np.mean(rmse_scores))

MSE por fold: [0.164777   0.15893834 0.17916564 0.13609752 0.22365635 0.22872884
 0.16283606 0.15348763 0.17308068 0.12121888]
MSE médio: 0.17019869458434653

MAE por fold: [0.29044857 0.29005397 0.315139   0.28182588 0.33906211 0.34803658
 0.30405331 0.29696187 0.31301352 0.28411066]
MAE médio: 0.30627054637314516

R² por fold: [0.75791392 0.85729539 0.81000693 0.86250521 0.81790981 0.78903295
 0.86049566 0.82583331 0.80785851 0.86783717]
R² médio: 0.8256688847856086

RMSE por fold: [0.40592733 0.39867072 0.42327963 0.36891398 0.47292319 0.47825604
 0.40352951 0.39177497 0.41602966 0.34816501]
RMSE médio: 0.4107470048638624

In [36]:
# 6. Treinamento e avaliação do modelo
modelo.fit(x_treino, y_treino)
y_pred = modelo.predict(x_teste)

print("\n# Avaliação Final no Conjunto de Teste")
print("Coeficiente angular (inclinação):", modelo.coef_[0])
print("Coeficiente linear (intercepto):", modelo.intercept_)
print("Erro quadrático médio (MSE):", mean_squared_error(y_teste, y_pred))
print("Coeficiente de determinação (R²):", r2_score(y_teste, y_pred))

# Avaliação Final no Conjunto de Teste
Coeficiente angular (inclinação): [ 0.85791315  0.0675395   0.00956636  0.32698648  0.03556901 -0.05785559
  0.05390536  0.41787552  0.12452676 -0.51550591 -0.0060686 ]
Coeficiente linear (intercepto): [2.6410179e-14]
Erro quadrático médio (MSE): 0.1526473390339347
Coeficiente de determinação (R²): 0.8691916642646167